<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[微笑]</string>
	<key>002</key>
	<string>[龇牙]</string>
	<key>003</key>
	<string>[憨笑]</string>
	<key>004</key>
	<string>[偷笑]</string>
	<key>005</key>
	<string>[可爱]</string>
	<key>006</key>
	<string>[调皮]</string>
	<key>007</key>
	<string>[得意]</string>
	<key>008</key>
	<string>[抓咪咪]</string>
	<key>009</key>
	<string>[色]</string>
	<key>010</key>
	<string>[淫笑]</string>
	<key>011</key>
	<string>[拥抱]</string>
	<key>012</key>
	<string>[害羞]</string>
	<key>013</key>
	<string>[酷]</string>
	<key>014</key>
	<string>[惊讶]</string>
	<key>015</key>
	<string>[傲慢]</string>
	<key>016</key>
	<string>[白眼]</string>
	<key>017</key>
	<string>[流汗]</string>
	<key>018</key>
	<string>[大哭]</string>
	<key>019</key>
	<string>[流泪]</string>
	<key>020</key>
	<string>[再见]</string>
	<key>021</key>
	<string>[尴尬]</string>
	<key>022</key>
	<string>[发呆]</string>
	<key>023</key>
	<string>[欠扁]</string>
	<key>024</key>
	<string>[难过]</string>
	<key>025</key>
	<string>[无奈]</string>
	<key>026</key>
	<string>[嘘]</string>
	<key>027</key>
	<string>[困]</string>
	<key>028</key>
	<string>[闭嘴]</string>
	<key>029</key>
	<string>[晕]</string>
	<key>030</key>
	<string>[惊恐]</string>
	<key>031</key>
	<string>[发怒]</string>
	<key>032</key>
	<string>[呕吐]</string>
	<key>033</key>
	<string>[发抖]</string>
	<key>034</key>
	<string>[戴口罩]</string>
	<key>035</key>
	<string>[饥饿]</string>
	<key>036</key>
	<string>[抓狂]</string>
	<key>037</key>
	<string>[咒骂]</string>
	<key>038</key>
	<string>[奋斗]</string>
	<key>039</key>
	<string>[湿了]</string>
	<key>040</key>
	<string>[疑问]</string>
	<key>041</key>
	<string>[睡觉]</string>
	<key>042</key>
	<string>[硬]</string>
	<key>043</key>
	<string>[怒顶]</string>
	<key>044</key>
	<string>[跪了]</string>
	<key>045</key>
	<string>[衰]</string>
	<key>046</key>
	<string>[大兵]</string>
	<key>047</key>
	<string>[猪头]</string>
	<key>048</key>
	<string>[炸弹]</string>
	<key>049</key>
	<string>[骷髅]</string>
	<key>050</key>
	<string>[刀子]</string>
	<key>051</key>
	<string>[大便]</string>
</dict>
</plist>
